/* static/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: white;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main-content {
    margin: 20px;
}

.upload-form {
    max-width: 400px;
    margin: 0 auto;
}

/* Additional styles for result.html */

.result-content {
    margin: 20px;
    text-align: center;
}

.prediction {
    margin-top: 20px;
}

.prediction h2 {
    color: #333;
}

.prediction p {
    font-size: 1.2em;
    color: #555;
}

.prediction img {
    max-width: 100%;
    margin-top: 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.attract-image {
    max-width: 100%; /* Set maximum width to 100% of its container */
    height: auto;    /* Maintain the aspect ratio */
    display: block;  /* Make the image a block element */
    margin: auto;    /* Center the image horizontally */
    margin-bottom: 1em; /* Add some bottom margin for spacing */
}